<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
http://www.springframework.org/schema/context                http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- Spring MVC -->
    <bean id="mqListener" class="io.github.flylib.seckill.mq.MQListener" />

    <bean id="jmsFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
        <property name="brokerURL"
                  value="failover:(tcp://115.159.201.56:61616)?randomize=false&amp;timeout=3000&amp;initialReconnectDelay=100&amp;jms.useAsyncSend=true&amp;jms.redeliveryPolicy.maximumRedeliveries=-1"/>
    </bean>
    <!-- 配置JMS模版 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory">
            <!-- lets wrap in a pool to avoid creating a connection per send -->
            <bean class="org.springframework.jms.connection.SingleConnectionFactory">
                <property name="targetConnectionFactory">
                    <ref local="jmsFactory"/>
                </property>
            </bean>
        </property>
        <property name="defaultDestination" ref="queueDestination"/>
    </bean>

    <!-- MQ监听者 -->
     	<bean id="mqListenerContainer"
     		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
     		<property name="connectionFactory">
     			<ref bean="jmsFactory" />
     		</property>
     		<property name="destinationName">
     			<value>seckill</value>
     		</property>
     		<property name="messageListener">
     			<ref bean="mqListener" />
     		</property>
     		<!--mq事务控制，如果抛异常了就回滚消息-->
     		<property name="sessionTransacted" value="true"/>
     	</bean>

    <!-- 定义消息队列（Queue） -->
    <bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <!-- 设置消息队列的名字 -->
        <constructor-arg>
            <value>seckill</value>
        </constructor-arg>
    </bean>
</beans>
