<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.flylib.seckill.mapper.SecKillMapper">

	<update id="updatePessLockInMySQL">
		update seckill_product set stock=stock-1
			where id=#{id} and stock>0 FOR UPDATE
	</update>

	<update id="updatePosiLockInMySQL">
		update seckill_product set stock=#{stock},version=version+1
			where id=#{id} AND version=#{version}
	</update>

	<update id="updateByAsynPattern">
		update seckill_product set stock=stock-1 where id=#{id}
	</update>

	<select id="getAllUser" resultType="User">
		select * from seckill_user
	</select>

	<select id="getAllProduct" resultType="Product">
		select * from seckill_product
	</select>

	<select id="getProductById" resultType="Product">
		select * from seckill_product WHERE id=#{id}
	</select>

	<insert id="insertRecord" useGeneratedKeys="true" keyProperty="id">
		insert into seckill_record(userId, productId, state, stateInfo, createTime)
			values(#{user.id}, #{product.id}, #{state}, #{stateInfo}, #{createTime})
	</insert>

</mapper>