<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <title>jseckill秒杀-高并发技术研究</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <js src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></js>
    <js src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></js>
    <![endif]-->

</head>
<body>
<!-- 页面显示部分 -->

<div class="locate">
    <div class="detail-grid">
        <a href="https://github.com/liushaoming/jseckill" target="_blank">
            　　<img style="position: fixed; top: -7px; right: -7px; border: 0;"
                   src="/image/sys/forkme.png" alt="Fork me on GitHub"
                   data-canonical-src="/image/sys/forkme.png">
        </a>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>jseckill秒杀-高并发技术研究</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>库存</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>创建时间</th>
                    <th>详情页</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each='sk : ${list}'>
                    <td th:text="${sk.name}"></td>
                    <td th:text="${sk.number}"></td>

                    <td th:text="${#dates.format(sk.startTime, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#dates.format(sk.endTime, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#dates.format(sk.createTime, 'yyyy-MM-dd HH:mm')}"></td>
                    <td>
                        <a class="btn btn-info" th:href=" '/seckill/detail/' + ${sk.seckillId} "
                           target="_blank">秒杀</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div>
        <b>进入GitHUb查看源码</b> <br/>
        👉 <a href="https://github.com/liushaoming/jseckill" target="_blank">https://github.com/liushaoming/jseckill</a>
    </div>
</div>

</body>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</html>
